body {
    background-color: rgb(33, 33, 33);
    color: bisque;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

div {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

input {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    color: rgb(33, 33, 33);
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid bisque;
}

input:active {
    background: none;
    color: bisque;
    
}

