<!DOCTYPE html>   

<html lang="en">

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/fullwindow.css" rel="stylesheet">
        <link href="../static/css/styles.css" rel="stylesheet">
    
    </head>

    <body>

        <h1>Screen Size</h1>
        <div>
            <p id="width"></p>
            <p id="height"></p>
        </div>
        
        <input type="button" value="Fullscreen" onclick="full()">
    </body>

    <script src="../static/js/functions.js"></script>
    <script>

        function full() {
            fullScreen();
            document.querySelector('input').style.background = 'none';
            document.querySelector('input').style.color = 'bisque';
            document.querySelector('input').value = 'Exit Fullscreen';
            document.querySelector('input').setAttribute('onclick', 'exitFull()');
        }
        function exitFull() {
            document.exitFullscreen();
            document.querySelector('input').style.background = 'bisque';
            document.querySelector('input').style.color = 'rgb(33, 33, 33)';
            document.querySelector('input').value = 'Fullscreen';
            document.querySelector('input').setAttribute('onclick', 'full()');
        }
        let width = document.querySelector('#width');
        let height = document.querySelector('#height');
        let size = screenSize();
        width.innerHTML  = "Width: "  + size['width'];
        height.innerHTML = "Height: " + size['height'];
    </script>

</html>
